@model BearEF.Donor
           
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Are you sure you want to delete this?</h3>

    
@using (Html.BeginForm())
{
     @Html.HiddenFor(model => model.DonorID)
    <fieldset>
        <strong>Name:</strong> @Html.DisplayFor(modelItem => modelItem.LastName), @Html.DisplayFor(modelItem => modelItem.FastName)<br />
        <strong>E-Mail:</strong> @Html.DisplayFor(modelItem => modelItem.Email)<br />
        <strong>Phone:</strong> @Html.DisplayFor(modelItem => modelItem.Phone)
        <br />
        <strong>Address1:</strong> @Html.DisplayFor(modelItem => modelItem.Address1)<br />
        <strong>Address2:</strong> @Html.DisplayFor(modelItem => modelItem.Address2)<br />
        <strong>City/State/Zip:</strong> @Html.DisplayFor(modelItem => modelItem.City) @Html.DisplayFor(modelItem => modelItem.State)
        @Html.DisplayFor(modelItem => modelItem.Zip)<br/>
    </fieldset>
    <br/>
    <p>
        <input type="submit" value="Delete" class="btn btn-info"/>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
    </p>
}
