@model IEnumerable<BearEF.Donor>

@{
    ViewBag.Title = "Bearcamp - Donor List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD
<h2>Donor List</h2>
=======
>>>>>>> 164b9a16a98f0f63514375e3db55408f8436bbe7

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
<<<<<<< HEAD
    <tr>
        <th>
            Fast Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            Address
        </th>
        <th>
            Address Line 2
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zip
        </th>
        <th></th>
    </tr>
=======
   
>>>>>>> 164b9a16a98f0f63514375e3db55408f8436bbe7

@foreach (var item in Model) {
    <tr>
        <td>
            Donor
            <br/>
            First Name: @Html.DisplayFor(modelItem => item.FastName)
            <br/>
            Last Name: @Html.DisplayFor(modelItem => item.LastName)
            <br/>
            E-Mail: @Html.DisplayFor(modelItem => item.Email)
            <br/>
            Phone: @Html.DisplayFor(modelItem => item.Phone)
            <br/>
            Address 1: @Html.DisplayFor(modelItem => item.Address1)
            <br/>
            Address 2: @Html.DisplayFor(modelItem => item.Address2)
            <br/>
            City: @Html.DisplayFor(modelItem => item.City)
            <br/>
            State: @Html.DisplayFor(modelItem => item.State)
            <br/>
            Zip: 

       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DonorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DonorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DonorID })
        </td>
    </tr>
}

</table>
