@using BearEF
@model IEnumerable<BearEF.Donor>
@{
    ViewBag.Title = "Bearcamp - Donor List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Donor List</h2>
<table id="donortable">
    <tr>
        <th>
        </th>
        <th>
            Fast Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            Address
        </th>
        <th>
            Address Line 2
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zip
        </th>
    </tr>
    @foreach (Donor item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Edit","Donors", new {id = item.DonorID})" title="Edit Donor"><img src="../../Content/images/application_edit.png"/></a>
                | <a href="@Url.Action("Details","Donors", new {id = item.DonorID})" title="View Donor"><img src="../../Content/images/magnifier.png"/></a>
                | <a href="@Url.Action("Delete","Donors", new {id = item.DonorID})" title="Delete Donor"><img src="../../Content/images/delete.png"/></a>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create") @Html.ActionLink("Export", "ExportUsers")
</p>
