@using BearEF
@model IEnumerable<BearEF.Donor>
@{
    ViewBag.Title = "Bearcamp - Donor List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function() {

        $('#donortable tr:even').addClass('even');
    });
</script>
<h2>
    Donor List</h2>
<table id="donortable">

    @foreach (Donor item in Model)
    {
        <tr>
            <td>
                Name: @Html.DisplayFor(modelItem => item.LastName), @Html.DisplayFor(modelItem => item.FastName)<br />
                E-Mail: @Html.DisplayFor(modelItem => item.Email)<br />
                Phone: @Html.DisplayFor(modelItem => item.Phone)
                <br />
                Address1: @Html.DisplayFor(modelItem => item.Address1)<br />
                Address2: @Html.DisplayFor(modelItem => item.Address2)<br />
                City/State/Zip: @Html.DisplayFor(modelItem => item.City) @Html.DisplayFor(modelItem => item.State)
                @Html.DisplayFor(modelItem => item.Zip)<br/>
                <a href="@Url.Action("Edit", "Donors", new { id = item.DonorID })" title="Edit Donor">
                    <img src="../../Content/images/application_edit.png" /></a> | <a href="@Url.Action("Details", "Donors", new { id = item.DonorID })" title="View Donor">
                        <img src="../../Content/images/magnifier.png" /></a> | <a href="@Url.Action("Delete", "Donors", new { id = item.DonorID })" title="Delete Donor">
                            <img src="../../Content/images/delete.png" /></a>
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create") @Html.ActionLink("Export", "ExportUsers")
</p>
