@model IEnumerable<BearEF.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $('#usertable tr:even').css("background-color", "#A5BFDD");
    });
</script>
<h2>Users</h2>


<table id="usertable" style="width:100%;">

@foreach (var item in Model) {
    <tr>
        <td>
            <strong>Login Name:</strong> @Html.DisplayFor(modelItem => item.UserLogin)<br/>
            <strong>Password:</strong> @Html.DisplayFor(modelItem => item.Pswd)<br/>
            <strong>First Name:</strong> @Html.DisplayFor(modelItem => item.FirstName)<br/>
            <strong>Last Name:</strong> @Html.DisplayFor(modelItem => item.LastName)<br/>
            <strong>E-Mail:</strong> @Html.DisplayFor(modelItem => item.Email)<br/>
            <strong>Phone:</strong> @Html.DisplayFor(modelItem => item.Phone)
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
