<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bear Camp</title>
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css"/>
    <script src="@Url.Content("/Scripts/jquery-1.8.2.min.js")"type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3-respond-1.1.0.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <header>
           
            <div id="logindisplay" class="btn">
                @Html.Partial("_LogOnPartial")
            </div>
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                         <a class="brand" href="#"> <img src="../../Content/images/bearsmall.png"/></a>
                        <ul class="nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <li class="dropdown">
                                    <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Donors <b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                        <li>@Html.ActionLink("Donor List", "Index", "Donors")</li>
                                        <li>@Html.ActionLink("Add Donor", "Create", "Donors")</li>
                                    </ul>
                                </li> 
                                <li class="dropdown">
                                    <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                        <li>@Html.ActionLink("Users List", "Index", "User")</li>
                                        <li>@Html.ActionLink("Add Users", "Create", "User")</li>
                                        <li>@Html.ActionLink("Manage Roles", "Index", "Permission")</li>
                                    </ul>
                                </li> 
                                <li class="dropdown">
                                    <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Donations <b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                        <li>@Html.ActionLink("Add Donation", "Create", "Donation")</li>
                                        <li>@Html.ActionLink("Donation List", "Index", "Donation")</li>
                                        <li>@Html.ActionLink("Add Donation Type", "Create", "DonationType")</li>
                                        <li>@Html.ActionLink("Donation Type List", "Index", "DonationType")</li>

                                    </ul>
                                </li>
                          
                            }
                        </ul>

                    </div>
                </div>
            </div>
 
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
