@model IEnumerable<BearEF.CampaignEvent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Related_Campaign
        </th>
        <th>
            Owner
        </th>
        <th>
            Start_Date
        </th>
        <th>
            End_Date
        </th>
        <th>
            Status
        </th>
        <th>
            Fundraising_Goal
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Related_Campaign)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fundraising_Goal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CampaignEventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CampaignEventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CampaignEventId })
        </td>
    </tr>
}

</table>
