@model IEnumerable<BearEF.Donation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Donations</h2>

<table class="table">
    <tr>
        <th>
            Donor
        </th>
        <th>
            Amount
        </th>
        <th>
            Donation Date
        </th>
        <th>
            Comments
        </th>
        <th>
            Donation Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Donor.FastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonationAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonataionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonationTypeID.DonationDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.DonationsID  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DonationsID })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class="btn btn-info"}) &nbsp; @Html.ActionLink("Export List", "ExportDonations", null, new { @class = "btn" })
</p>
