@model BearEF.Permission

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit Permission</legend>

        @Html.HiddenFor(model => model.PermissionID)

        <span class="editor-label">
           Editing permissions for:  
        </span>
@Html.DisplayTextFor(model=>model.UserLogin)

        <div class="editor-label">
            @Html.LabelFor(model => model.FeatureID, "Feature")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FeatureID")
            @Html.ValidationMessageFor(model => model.FeatureID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PermissionSort, "Permission Sort")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PermissionSort)
            @Html.ValidationMessageFor(model => model.PermissionSort)
        </div>

        <p>
            <input type="submit" value="Save" class="btn btn-info"/> @Html.ActionLink("Back to List", "Index", null, new {@class="btn"})
        </p>
    </fieldset>
}
