@model BearCamp.Models.LogOnModel

@*<p>
    Please enter your user name and password. @Html.ActionLink("Register", "Register") if you don't have an account.
</p>*@

<div class="alert alert-error">
@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
</div>
@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Log In</legend>

            <label>
                @Html.LabelFor(m => m.UserName)
            </label>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <label>
                @Html.LabelFor(m => m.Password)
            </label>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <label class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </label>

            <p>
                <input type="submit" value="Log On" />
            </p>
        </fieldset>
    </div>
}
